.avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.card-chat{
  max-height: 70vh;
  overflow: auto;
}
.text-small{
  font-size: 15px;
}
.speech-bubble-send {
  position: relative;
  background: #77bb41;
  border-radius: .4em;
  margin-top : 20px;
  padding: 10px;
  margin-left : 10px;
  float: right;
}
.flowed{
  overflow: auto;
}
.user_conv{
  border-radius: 5px;

}
.speech-bubble-send:after {

  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left-color: #77bb41;
  border-right: 0;
  margin-top: -7px;
  margin-right: -7px;
}
.speech-bubble-receipt {
  position: relative;
  background: #77bb41;
  border-radius: .4em;
  margin-top : 20px;
  padding: 10px;
  margin-left : 10px;
}

.speech-bubble-receipt:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-right-color: #77bb41;
  border-left: 0;
  margin-top: -7px;
  margin-left: -7px;
}
.imgchat{
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:50px;
  height:50px;
}
.chatheader{
  border-bottom: 1px solid rgba(167, 161, 161, 0.42) !important;
}
.message-item{
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;

}
.messageplace {
  height: 500px;
  overflow:auto;
}
.box-message {
  border-radius: 5px;
}
.pic_card_msg{
  text-align: center;
  width: 100%;
  border-radius: 5px;
  padding-top : 10px;

}
.box-content{
  padding-left : 30px ;
}
